if TARGET_RV1126_ECM0

config SYS_BOARD
	default "edge-compute-module-0"

config SYS_VENDOR
	default "edgeble"

config SYS_CONFIG_NAME
	default "edge-compute-module-0"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select RAM_ROCKCHIP_LPDDR4

endif
